.wavemother {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

.wavemother .content {
    display: flex;
    flex-direction: column;
    width: 37vw;
}