.contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .contact .content {
    display: flex;
    flex-direction: column;
    width: 37%;
}