.home {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%
  }

.home .content {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.home .content h2 {
  align-self: center;
}

.home .content p {
  font-size: 1.5em;
}

.home .media img {
  display: flex;
  object-fit: cover;
  width: 30%;
  padding: 4px;
}