.copy {
    align-items: center;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 32px;
    position: sticky;
    top: 0;
    width: 100vw;
    /* z-index: 800; */
  }