.navbar {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 32px;
    width: 100vw;
    z-index: 1000;
    position: absolute;
  }
  
  .navbar-left .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-left: 5vw;
    display: flex;
  }
  
  .navbar-right .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-right: 5vw;
    flex-wrap: wrap;
  }
  
  .navbar-right .nav-links li {
    margin-right: 32px;
    font-size: 20px;
  }
  
  .navbar-right .nav-links a {
    color: #fff;
    text-decoration: none;
  }