.navbar {
    align-items: center;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1000;
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-left: 10rem;
    display: flex;
  }
  
  .navbar-right .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right .nav-links li {
    margin-right: 2rem;
  }
  
  .navbar-right .nav-links a {
    color: #fff;
    text-decoration: none;
  }