.footer {
align-items: center;
    background-color: #fff;
    bottom: 0;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 32px;
    position: absolute;
    width: 100vw;
    z-index: 0;
  }

  .footer .footer-left {
      padding: 0;
  }
  
  .footer-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    /* justify-content: space-between; */
    align-self: center;
  }
  
  .footer-center .nav-links li {
    margin-right: 16px;
    margin-left: 16px;
  }
  
  .footer-center .nav-links a {
    color: #333;
    text-decoration: none;
  }