.footer {
align-items: center;
    background-color: #fff;
    bottom: 0;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
    width: 100%;
    z-index: 0;
  }

  .footer .footer-left {
      padding-right: 0;
  }

  .footer-left p {
    font-size: 1;
    padding-left: 5rem
  }

  .footer .footer-right {
    padding-right: 20px;
  }

  .footer-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .footer-center .nav-links li {
    margin-right: 16px;
    margin-left: 16px;
  }
  
  .footer-center .nav-links a {
    color: #333;
    text-decoration: none;
  }

  .footer-center .nav-links img {
    height: 32px;
    width: 32px
  }