.footer {
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    width: 100vw;
    z-index: 0;
    position: absolute
  }

  .footer .footer-right {
      padding-right: 10rem;
  }
  
  .footer-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: left;
    padding-left: 10rem;
  }
  
  .footer-right .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: right
  }
  
  .footer-right .nav-links li {
    margin-right: 2rem;
  }
  
  .footer-right .nav-links a {
    color: #fff;
    text-decoration: none;
  }