.awards {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.awards .content {
  display: flex;
  flex-direction: column;
  width: 37vw;
}

.awards .content h2 {
  display: flex;
  align-self: left;
}